{% extends "base.html" %} {% load static %} {% block content %}

<div class="container-fluid secondary-font">
    <div class="pushdown-small mb-2"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 d-inline-flex">
            <section class="text-sm-left lh-base font-normal text-none text-decoration-none text-reset mb-3">
                <h1>About us....</h1>
                <p>Airsoft workshop is a startup project setup by an enfusiastic airsoft player, with 5 years of
                    experience playing out in the fields. Upon getting incredibly hooked on the sport.
                    <br><br>Airsoft is a great hobby, where you can make lots of new friends and through this experience
                    I got the inspiration speaking to fellow airsofters about the difficulties assosicate in airsoft.
                    Players are often wanting to spray paint their RIFs and repair their weapons when they have
                    problems, but this is where the Airsoft workshop provides its customers the best care and attention
                    regarding getting your RIFs exactly the way you want them.
                    <br>
                    <br>
                    If you are interested in getting to know me before you would like me to do any work on your RIF, I
                    invite you to meet me in store or even out on the field. As an airsofter, it is important to meet
                    the people in the game and there is no better time then on an actual game day. So if you are, feel
                    free to <a class="page-link-success" href="{% url 'contact_us' %}">contact us</a> and we will be able to tell you what airsoft
                    site I will be attending.
                </p>
            </section>
        </div>
        <aside class="col-md-5 d-inline-flex">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ MEDIA_URL }}FB_IMG_1607941252528.jpg" class="d-block w-100" alt="Company owner playing airsoft with his camo painted M4">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ MEDIA_URL }}FB_IMG_1623101576268.jpg" class="d-block w-100" alt="Company owner playing airsoft with his camo painted M4">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ MEDIA_URL }}FB_IMG_1594677129171.jpg" class="d-block w-100" alt="Company owner playing airsoft attacking from barrier">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </aside>
        <div class="col-md-1"></div>
    </div>
</div>
<div class="pushdown-small mb-2"></div>
<div class="container-fluid secondary-font">
    <div class="row">
        <div c_URLlascol-10 col-md-8 col-lg-6">
            <h5>Credits</h5>
            <hr>
            <p>Below are some of the open source images obtained from <a class="page-link-success" href="https://www.flaticon.com/" title="Flaticon">Flaticon</a>.</p>
            <ul class="page-link-success">
                <li><a class="page-link-success" target="_blank" rel="noopener" href="https://www.flaticon.com/free-icons/shotgun" title="shotgun icons">Shotgun icons created by max.icons - Flaticon</a></li>
                <li><a class="page-link-success" target="_blank" rel="noopener" href="https://www.flaticon.com/free-icons/pistol" title="pistol icons">Pistol icons created by max.icons - Flaticon</a></li>
                <li><a class="page-link-success" target="_blank" rel="noopener" href="https://www.flaticon.com/free-icons/sniper" title="sniper icons">Sniper icons created by max.icons - Flaticon</a></li>
                <li><a class="page-link-success" target="_blank" rel="noopener" href="https://www.flaticon.com/free-icons/rifle" title="rifle icons">Rifle icons created by max.icons - Flaticon</a></li>
                <li><a class="page-link-success" target="_blank" rel="noopener" href="https://www.flaticon.com/free-icons/gun" title="gun icons">Gun icons created by max.icons - Flaticon</a></li>
                <li><a class="page-link-success" target="_blank" rel="noopener" href="https://www.flaticon.com/free-icons/machine-gun" title="machine gun icons">Machine gun icons created by max.icons - Flaticon</a></li>
                <li><a class="page-link-success" target="_blank" rel="noopener" href="https://www.flaticon.com/free-icons/spray-can" title="spray-can icons">Spray-can icons created by surang - Flaticon</a></li>
                <li><a class="page-link-success" target="_blank" rel="noopener" href="https://www.flaticon.com/free-icons/spring" title="spring icons">Spring icons created by Zaenul Yahya - Flaticon</a></li>
                <li><a class="page-link-success" target="_blank" rel="noopener" href="https://www.flaticon.com/free-icons/automation" title="automation icons">Automation icons created by Becris - Flaticon</a></li>
                <li><a class="page-link-success" target="_blank" rel="noopener" href="https://www.flaticon.com/free-icons/settings" title="settings icons">Settings icons created by Freepik - Flaticon</a></li>
                <li><a class="page-link-success" target="_blank" rel="noopener" href="https://www.flaticon.com/free-icons/gas-cylinder" title="gas cylinder icons">Gas cylinder icons created by Freepik - Flaticon</a></li>
                <li><a class="page-link-success" target="_blank" rel="noopener" href="https://www.flaticon.com/free-icons/gas-bottle" title="gas bottle icons">Gas bottle icons created by Freepik - Flaticon</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="pushdown-small"></div>
</div>


{% endblock %}