{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Title -->

<div class="container">
    <div class="container">
        <div class="row">
            <h2 class="border-bottom border-secondary display-4 text-center my-5">Store Managment | {{ request.user }}</h2>
        </div>
    </div>
    <div class="row tertiary-font">
        <div class="col-12 col-md-7 border-secondary rounded-1 border">
            <div class="row my-4">
                <h2 class="ms-2 py-2 text-success"><i>Product Managment: </i><i class="fas fa-barcode"></i></h2>
                <br>
                <div class="flex-inline">
                    <a href="{% url 'add_product' %}" class="ms-3 m-1 btn btn-secondary">Add Product</a>
                    <a href="{% url 'add_category' %}" class="ms-3 m-1 btn btn-secondary">Add Category</a>
                    <a href="{% url 'add_brand' %}" class="ms-3 m-1 btn btn-secondary">Add Brand</a>
                    <a href="{% url 'add_delivery_method' %}" class="ms-3 m-1 btn btn-secondary">Add Delivery Method</a>
                </div>
            </div>
            <div class="row my-4">
                <h3 class="ms-2 py-2 text-success">Orders: <i class="fas fa-receipt"></i></h3>
                <br>
                <span><a href="{% url 'admin_view_orders' %}" class="ms-3 btn btn-secondary">View Orders</a></span>
            </div>
            <div class="row my-4">
                <h2 class="ms-2 py-2 text-success"><i>Paint Work Enquiries: </i><i class="fas fa-spray-can"></i></h2>
                <br>
                <span><a href="{% url 'admin_view_paint_quotes' %}" class="ms-3 btn btn-secondary">View Paint Requests</a></span>
            </div>
            <div class="row my-4">
                <h2 class="ms-2 py-2 text-success"><i>Tech Work Enquiries: </i><i class="fa fa-gears"></i></h2>
                <br>
                <span><a href="{% url 'admin_view_tech_quotes' %}" class="ms-3 btn btn-secondary">View Tech Requests</a></span>
            </div>
        </div>
    </div>

</div>

<div class="footer-pushdown-small"></div>

{% endblock %}