{% extends "base.html" %} {% load static %} {% block content %}

<div class="pushdown-small mb-2"></div>
<div class="pushdown-small mb-2"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 secondary-font">
            <h1>FAQs</h1>
            <hr>
            <h2 class="text-center">Postage and Packaging</h2>
            <br>
            <p> WE Accept various defences for being able to buy a replica gun,UKARA, BASC, Sportman Association,hooters
                Rights Association, Cosplay, justcos, SWAT PASS, MVT, AFRA and being a member of other reenactment
                societies. We will also directly contact sites where necessary to get confirmation from them that you
                are a valid player.
                <br>
                Postage and Packaging
                How we calculate the postage
                <ol>
                    <li>Add your Items to the basket</li>
                    <li>Select your P&P country</li>
                    <li>Choose your Delivery method which will show the cost of delivery</li>
                    <li>We deliver to UK mainland an Isles
                </ol>
                <br>
                <ul>
                    <li>All UK mainland deliveries are charged at £.3.5</li>
                    <li>Any Tech or Painting Services that requires transportation of a realistic firearm are charged at
                        £10
                        shipping one way due to insurance of the contents of the item under transit.</li>
                    <li>Most Items are posted on a next working day but not always the same day as ordered</li>
                    <li>Next day means next working day (Mon, Tues, Wed, Thurs, Fri)</li>
                    <li>We try to have your order shipped and delivered within 5 working days for UK destinations.</li>
                    <li>You will be emailed a tracking number when we have posted your order.</li>
                </ul>
                <br>
            </p>
            <h2 class="text-center">General Questions</h2>
            <br>
            <p> Q) What is airsoft?
                <br><br>
                A) Airsoft is a sport that originated in Japan in the 80's. Similar to paintball in the way of how it is
                played, but airsoft use realistic imitation firearms which generally fire out 0.20g 6mm plastic ball
                like pellets.
                <br><br>
                Q) Is airsoft expensive?
                <br><br>
                A) How long is a piece of string? Airsoft is like any other sport, whereby it is as expensive as you want
                it to be. You can always pick up equipment cheap but there is of course high end products out there that
                cost more money.
                <br><br>
                Q) Where are we based?
                <br><br>
                A) We are based in Caranby Street in Central London.
                <br><br>
                Q) What insurance do you provide for the collection and delivery of RIF weapons for painting or tech services?
                <br><br>
                A) Our couriers are insurred up to £1000, so for if any reason your parcel is missing, lost, damaged or broken, we are able to cover the cost of your missing item.
                <br><br>
                Q) What if we are not happy with the service?
                <br><br>
                A) If you are not happy with the service provided, you will do our best to rectify the situation within reason. we want all our customers being left happy with our services we provide.
                <br><br>
                Q) How does the tech services work?
                <br><br>
                A) Tech services are a request service. we do not stock all the parts for tech work to commence on the shelf. we do the work to order, so any bits needed to complete your project will be subject to ordering in the parts, upon agreement you are obligated to pay for the engineers time and all the parts required, all prices will have to be agreed to by the customer first before work can start. payment is due upon completion of the project.
                <br><br>
                Q) How does the paint services work?
                <br><br>
                A) Upon submission of the the form you are entering under a contract that you wish to the work of your description to go ahead. the painting service depending on your request usually takes 7 days upon arrival to our workshop. if you ask for something more bispoke, the waiting time may vary depending on the difficulty of the project.
            </p>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<div class="pushdown-small mb-2"></div>
</div>

{% endblock %}