{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Title -->

<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <h2 class="display-2 text-center my-5 animate">What we offer</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <!--Item1-->
        <div class="col-lg-3 mb-5">
            <div class="card service-card animate glow delay-1">
                <img class="card-img-top" src="{{ MEDIA }}/media/ghost-camo-rifle.jpg" alt="Paint Services">
                <div class="card-body secondary-font">
                    <h4 class="card-title text-secondary">Paint Services</h4>
                    <p class="card-text text-secondary"> Ever wanted your Rifle to look unique, or ever wanted it to blend in with your environment? Book your RIF in with us and we will give it some war paint.</p>
                    <button type="button" class="btn btn-success m-1" data-bs-toggle="modal" data-bs-target="#paintServiceModal">More Info</button>
                    <a href="{% url 'paint_services' %}" class="btn btn-success m-1">Enquire Now</a>
                </div>
            </div>
        </div>
        <!--Item2-->
        <div class="col-lg-3 mb-5">
            <div class="card service-card animate glow delay-2">
                <img class="card-img-top" src="{{ MEDIA }}/media/desert-camo-weaponset.jpg" alt="Tech Services">
                <div class="card-body secondary-font">
                    <h4 class="card-title text-secondary">Tech Services</h4>
                    <p class="card-text text-secondary">Is your Airsoft weapon broken and in need of a repair, or not performing how you would like it? Well put your RIF weapon in with us and we will get it performing as good as new.</p>
                    <button type="button" class="btn btn-success m-1" data-bs-toggle="modal" data-bs-target="#techServiceModal">More Info</button>
                    <a href="{% url 'tech_services' %}" class="btn btn-success m-1">Enquire Now</a>
                </div>
            </div>
        </div>
        <!--Item3-->
        <div class=" col-lg-3 mb-5">
            <div class="card service-card animate glow delay-3">
                <img class="card-img-top " src="{{ MEDIA }}/media/airsoft-consumables.jpg " alt="Consumables ">
                <div class="card-body secondary-font">
                    <h4 class="card-title text-secondary ">Store</h4>
                    <p class="card-text text-secondary ">We also here at airsoft supply drop sell consumables to our airsoft community in the wake of BBs and accessories at good prices. Come and have a look for yourselves.</p>
                    <a href="{% url 'products' %}" class="btn btn-success m-1">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-pushdown-small"></div>

{% include 'includes/tech_service_modal.html' %}
{% include 'includes/paint_service_modal.html' %}

{% endblock %}