{% extends "base.html" %} {% load static %} {% block content %}

<div class="container-fluid secondary-font">
    <div class="pushdown-small"></div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h3>Sitemap</h3>
            <hr>
            <br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore ipsa rerum, esse incidunt nisi dolorum
            culpa consequatur, iusto alias minima velit. Eaque provident, distinctio odio magni iste rem quidem
            reiciendis!
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
<div class="pushdown-small mb-2"></div>


{% endblock %}