{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
<!-- Page Header-->
<div class="container-fluid">
    <div class="row g-0">
        <div class="col-12 justify-content-center">
            <h2 class="display-3 text-center mt-5 mb-1 logo-font">My Profile: {{ user.username }}</h2>
        </div>
        <div class="container-fluid justify-content-center w-75">
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}


<!-- Product Title -->

<div class="container tertiary-font">
    <!-- row-1 -->
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h4 class="text-muted">User Profile</h4>
            <form method="POST" class="mt-3" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success text-uppercase">Update information</button>
            </form>
        </div>
    </div>
</div>
<div class="pushdown-small"></div>

{% endblock %}