/*
    font-family: 'GFS Didot', serif;
    font-family: 'Judson', serif;
    font-family: 'Marcellus', serif;
    font-family: 'Special Elite', cursive;
 */

html {
    height: 100%;
    background-color: #222;
}

body {
    /* background: url('/media/pexels-jenda-kubes-6566976.jpg') no-repeat center center fixed; */
    background-color: #222;
    background-size: cover;
    font-family: 'Special Elite', cursive;
    font-size: 1.0rem;
    color: #ffffff8c;
}

.homepage-container {
    height: 100vh;
    top: 0;
    left: 0;
    background: url('/media/rifle-homepage-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Special Elite', cursive;
    font-size: 1.1rem;
    color: #ffffff8c;
    z-index: unset;
}

.header-btn-colour {
    color: #ffffff8c;
}

.header-pushdown {
    height: 250px;
}

.pushdown-small {
    height: 70px;
}

.footer-pushdown {
    height: 250px;
}

.footer-pushdown-small {
    height: 50px;
}

.footer-base {
    background-color: #212529;
    /* font-family: 'Judson', serif; */
    /* font-family: 'GFS Didot', serif; */
    font-family: 'Marcellus', serif;
}

.ukara-img-box img {
    padding-top: 5px;
    height: 45px;
    width: 40px;
}

.text-black {
    color: #000 !important;
}


/* ----------- allauth adjustments -----------  */

.allauth-link {
    color: rgb(39, 39, 39);
}

.allauth-link:hover,
.allauth-link:active,
.allauth-link:focus {
    color: #000;
}

/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: 'Special Elite', cursive;
}

.secondary-font {
    /* font-family: 'Judson', serif; */
    /* font-family: 'GFS Didot', serif; */
    font-family: 'Marcellus', serif;
}

/* ------------------------------------------------------ Media Queries */

@media (max-width: 990px) {
    .homepage-container {
        background-position-x: 50px;
        background: url('/media/soldier-homepage-bg.jpg') no-repeat center 60px fixed;
        bottom: 164px;
        background-size: cover;
        font-family: 'Special Elite', cursive;
        font-size: 1.1rem;
    }
}

/* ---------------- NAVBAR NAME CHANGE CODE --------------- */


/* Hide short text by default (resolution > 1200px) */

.small-logo {
    display: none;
}


/* When resolution <= 1200px, hide full text and show short text */

@media (max-width: 527px) {
    .small-logo {
        display: flex;
        position: relative;
        padding-left: 10px;
    }

    .large-logo {
        display: none;
    }
}


/* --------------------- Services Page ---------------------- */

.image-container img {
    border: 5px grey solid;
    border-radius: 3px;
}

.service-card {
    margin: 0 10px;
    border-width: 3px;
    border-color: white;
}

.service-card p {
    font-size: 1.05vmax;
}

.service-card:hover {
    box-shadow: 0 0 45px green;
}


/* ----------------------------------------------------- Media Queries for Service Page */

@media (max-width:1200px) {
    .service-card {
        margin: 0 10px 0 10px;
    }

    .service-card p {
        font-size: 1.3vmax;
    }
}

@media (max-width: 991px) {
    .service-card {
        margin: 0 130px 30px 130px;
    }

    .service-card p {
        font-size: 1.8vmax;
    }
}

@media (max-width:650px) {
    .service-card {
        margin: 0 80px 30px 80px;
    }
}

@media (max-width:550px) {
    .service-card {
        margin: 0 60px 30px 60px;
    }
}

@media (max-width:450px) {
    .service-card {
        margin: 0 30px 30px 30px;
    }
}

@media (max-width:300px) {
    .service-card {
        padding: 0;
    }
}