/*
    font-family: 'GFS Didot', serif;
    font-family: 'Judson', serif;
    font-family: 'Marcellus', serif;
    font-family: 'Special Elite', cursive;
 */

html {
    height: 100%;
    background-color: #222;

}

body {
    background-color: #222;
    background-size: cover;
    font-family: 'Special Elite', cursive;
    font-size: 1.0rem;
    color: #ffffff8c;
}

.homepage-container {
    height: 100vh;
    top: 0;
    left: 0;
    background: url('/media/rifle-homepage-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Special Elite', cursive;
    font-size: 1.1rem;
    color: #ffffff8c;
    z-index: unset;
}

.logo-font {
    font-family: 'Special Elite', cursive;
}

.secondary-font {
    font-family: 'Marcellus', serif;
}

.tertiary-font {
    /* font-family: 'Judson', serif; */
    font-family: 'GFS Didot', serif;
}

.header-btn-colour {
    color: #ffffff8c;
}

.header-pushdown {
    height: 250px;
}

.pushdown-small {
    height: 70px;
}

footer {
    z-index: 2;
    position: relative;
}

.footer-pushdown {
    height: 250px;
}

.footer-pushdown-small {
    height: 50px;
}

.footer-base {
    border-top: 2px solid #333;
    background-color: #212529;
    font-family: 'Marcellus', serif;
}

.contact-icons {
    color: #ffffff8c;
}

.contact-icons:hover {
    color: #dfdfdf8c;
}

.ukara-img-box img {
    top: auto;
    height: 40px;
}

.text-black {
    color: #000 !important;
}

nav {
    box-shadow: 0 0 15px #198754;
}

.green-on-hov:hover {
    text-shadow: 0 0 10px #198754;
}

.green-on-hov-bg:hover {
    box-shadow: 0 0 10px #198754;
}

.red-on-hov:hover {
    text-shadow: 0 0 10px #dc3545;
}

.red-on-hov-bg:hover {
    box-shadow: 0 0 10px #dc3545;
}

.blue-on-hov:hover {
    text-shadow: 0 0 10px #0d6efd;
}

.blue-on-hov-bg:hover {
    box-shadow: 0 0 10px #0d6efd;
}

/* --------------- animations ----------------- */

.animate {
    animation-duration: 2.5s;
    animation-name: animate-fade;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}

@keyframes animate-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Glow In */
.animate.glow {
    animation-name: animate-glow;
    animation-timing-function: ease;
}

@keyframes animate-glow {
    0% {
        opacity: 0;
        filter: brightness(1) saturate(1);
        transform: scale(0.8, 0.8);
    }

    100% {
        opacity: 1;
        filter: brightness(1) saturate(1);
        transform: scale(1, 1);
    }
}

.delay-1 {
    animation-delay: 1s;
}

.delay-2 {
    animation-delay: 1.2s;
}

.delay-3 {
    animation-delay: 1.1s;
}

.animated-btn {
    display: block;
    width: fit-content;
    height: 55px;
    font-size: 30px;
    text-decoration: none;
    color: #198754;
    border: 3px solid #333;
    letter-spacing: 2px;
    position: relative;
    transition: all .35s;
    background-color: #212529;
}

.animated-btn span {
    position: relative;
    z-index: 2;
}

.animated-btn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #198754a2;
    transition: all .35s;
    border-radius: 4px;
}

.animated-btn:hover {
    color: #ffffff8c;
    box-shadow: 0 0 15px #198754;

}

.animated-btn:hover:after {
    width: 100%;
}

/* ----------- allauth adjustments -----------  */

.allauth-link {
    color: rgb(39, 39, 39);
}

.allauth-link:hover,
.allauth-link:active,
.allauth-link:focus {
    color: #000;
}

/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* --------- modal image and media queries ---------- */

.modal-img {
    height: auto;
    float: right;
    width: 45%;
    margin-right: 5%;
    padding: 0 0 20px 20px;
}

@media (max-width: 768px) {
    .modal-img {
        width: 100%;
        margin-right: 0;
        padding: 5px;
    }
}

/* ------------------------------------------------------ Media Queries */

@media (max-width: 990px) {
    .homepage-container {
        background-position-x: 50px;
        background: url('/media/soldier-homepage-bg.jpg') no-repeat center 60px fixed;
        bottom: 164px;
        background-size: cover;
        font-family: 'Special Elite', cursive;
        font-size: 1.1rem;
    }
}


/* ---------------- NAVBAR NAME CHANGE CODE --------------- */


/* Hide short text by default (resolution > 1200px) */

.large-logo {
    padding-left: 10px;
}

.small-logo {
    display: none;
}

@media (max-width: 470px) {
    .small-logo {
        display: inline;
        position: absolute;
        top: 0px;
        padding-left: 10px;
    }

    .large-logo {
        display: none;
    }
}

@media (max-width: 300px) {
    .small-logo {
        font-size: 1.05rem;
        top: 5px;
        padding-left: 2px;
    }
}

@media (max-width: 283px) {
    .homepage-main-btn {
        font-size: 1.65rem;
    }
}

/* --------------------- Services Page ---------------------- */

.image-container img {
    border: 5px grey solid;
    border-radius: 3px;
}

.service-card {
    max-width: 350px;
    margin: 0 15px;
    border-width: 3px;
    border-color: white;
}

.service-card p {
    font-size: 0.8vmax;
}

.service-card:hover {
    box-shadow: 0 0 55px #198754;

}

/* -------------------- update and remove link buttons ---------------------- */

.remove-item,
.update-link {
    cursor: pointer;
}


/* ----------------------------------------------------- Media Queries for Service Page */

@media (max-width:1200px) {
    .service-card {
        margin: 0 10px 0 10px;
        max-width: unset;
    }

    .service-card p {
        font-size: 1.2vmax;
    }
}

@media (max-width: 991px) {
    .service-card {
        margin: 0 130px 30px 130px;
    }

    .service-card p {
        font-size: 1.8vmax;
    }
}

@media (max-width:650px) {
    .service-card {
        margin: 0 80px 30px 80px;
    }
}

@media (max-width:550px) {
    .service-card {
        margin: 0 60px 30px 60px;
    }
}

@media (max-width:450px) {
    .service-card {
        margin: 0 30px 30px 30px;
    }
}

@media (max-width:300px) {
    .service-card {
        padding: 0;
    }
}

/* ------------ Products CSS --------------- */

.products-container {
    width: calc(100% - 225px);
    margin-left: 225px;
}

.image-container {
    max-width: 100%;
}

.img-container img {
    object-fit: contain;
    height: 250px;
}

.card-text-container {
    max-height: 70px;
    font-size: 1vw;
    margin-bottom: 6px;
}

.side-navbar {
    width: 225px;
    height: 100vh;
    position: fixed;
    padding: 20px 10px 3px 10px;
    display: block;
    box-shadow: 0 0 6px #0d492d;
}

.side-navbar-link {
    padding: 6px 5px 6px 10px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #818181;
    display: block;
}

.side-navbar-link:hover {
    color: whitesmoke;
}


.md-device-products-link {
    text-decoration: none;
    color: #6C757D;
}

.md-device-products-link:hover,
.md-device-products-link:active {
    color: whitesmoke;
}

.clear-all-link {
    text-decoration: none;
    padding: 6px 5px 6px 10px;
    justify-content: baseline;
    font-size: 1rem;
    color: #6C757D;
    display: inline;
}

.clear-all-link:hover,
.clear-all-link:active {
    color: darkred;
}

.product-card {
    margin: 15px;
    font-size: 1.1rem;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    z-index: 3;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.product-filterdown-link {
    text-decoration: none;
    color: #6C757D;
}

.product-filterdown-link:hover,
.product-filterdown-link:active {
    color: whitesmoke;
}

@media (max-width: 360px) {
    .w-basket-special-75 {
        width: 100vw;
    }
}

/* -------------- Toast components -------------- */

.message-container {
    position: absolute;
    top: 80px;
    right: 15px;
    z-index: 9999999999;
}

.custom-toast {
    overflow: visible;
}

.success-shadow {
    box-shadow: 0 0 20px #28a745;
}

.warning-shadow {
    box-shadow: 0 0 20px #ffc107;
}

.info-shadow {
    box-shadow: 0 0 20px #17a2b8;
}

.danger-shadow {
    box-shadow: 0 0 20px #dc3545;
}

.bag-notification-wrapper {
    height: 80px;
    overflow-x: hidden;
    overflow-y: auto;
}


@media (max-width: 380px) {
    .message-container {
        position: static;
        right: 0;
        z-index: 9999999999;
    }

    .success-shadow {
        margin: 15px auto;
    }

    .warning-shadow {
        margin: 15px auto;
    }

    .info-shadow {
        margin: 15px auto;
    }

    .danger-shadow {
        margin: 15px auto;
    }
}

/* -------- Pagination & Links CSS --------- */

.page-link-success {
    color: #198754;
}

.page-link-success:hover {
    color: #13613d;
}

.page-link-danger {
    color: #dc3545;
}

.page-link-danger:hover {
    color: #961824;
}

.page-link-muted {
    color: #6c757d;
}

.page-link-muted:hover {
    color: #58595a;
}

.fs-pag {
    font-size: calc(1.275rem + .3vw);
}

@media (max-width: 570px) {
    .fs-pag {
        font-size: calc(1.05rem + .3vw);
    }
}

/* -------- MEDIA QUERIES FOR THE SIDENAV --------- */


@media screen and (max-width: 767px) {
    .side-navbar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .side-navbar a {
        padding: 2px;
    }

    .products-container {
        width: 100%;
        margin-left: unset;
    }
}

@media screen and (max-width: 400px) {
    .side-navbar {
        font-size: 1.1rem;
    }

    .side-navbar a {
        text-align: center;
        float: none;
    }

}



/* ----------------------------------------- */

/* ------- card-container-breakpoints ------ */

@media screen and (max-width: 1300px) {
    .card-text-container {
        height: 110px;
        font-size: 1.1vw;
        margin-bottom: 6px;
    }
}

@media screen and (max-width: 1200px) {
    .card-text-container {

        height: 90px;
        font-size: 1.5vw;
        margin-bottom: 6px;
    }
}

@media screen and (max-width: 1000px) {
    .card-text-container {

        height: 120px;
        font-size: 1.65vw;
        margin-bottom: 6px;
    }
}

@media screen and (max-width: 800px) {
    .card-text-container {

        height: 120px;
        font-size: 2vw;
        margin-bottom: 6px;
    }
}

@media screen and (max-width: 700px) {
    .card-text-container {
        height: 110px;
        font-size: 3vw;
        margin-bottom: 6px;
    }
}

@media screen and (max-width: 576px) {
    .card-text-container {
        height: 100px;
        font-size: 3.7vw;
        margin-bottom: 6px;
    }

    .product-card {
        margin: 45px;
    }
}

@media screen and (max-width: 400px) {
    .card-text-container {
        height: 180px;
        font-size: 4.8vw;
        margin-bottom: 6px;
    }

    .product-card {
        margin: 20px;
    }
}