/*
    font-family: 'GFS Didot', serif;
    font-family: 'Judson', serif;
    font-family: 'Marcellus', serif;
    font-family: 'Special Elite', cursive;
 */

html {
    height: 100%;
    background-color: #222;

}

body {
    background-color: #222;
    background-size: cover;
    font-family: 'Special Elite', cursive;
    font-size: 1.0rem;
    color: #ffffff8c;
}

.homepage-container {
    height: 100vh;
    top: 0;
    left: 0;
    background: url('/media/rifle-homepage-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Special Elite', cursive;
    font-size: 1.1rem;
    color: #ffffff8c;
    z-index: unset;
}

.logo-font {
    font-family: 'Special Elite', cursive;
}

.secondary-font {
    /* font-family: 'Judson', serif; */
    /* font-family: 'GFS Didot', serif; */
    font-family: 'Marcellus', serif;
}

.header-btn-colour {
    color: #ffffff8c;
}

.header-pushdown {
    height: 250px;
}

.pushdown-small {
    height: 70px;
}


.footer-pushdown {
    height: 250px;
}

.footer-pushdown-small {
    height: 50px;
}

.footer-base {
    border-top: 2px solid #333;
    background-color: #212529;
    /* font-family: 'Judson', serif; */
    /* font-family: 'GFS Didot', serif; */
    font-family: 'Marcellus', serif;
}

.ukara-img-box img {
    padding-top: 5px;
    height: 45px;
    width: 40px;
}

.text-black {
    color: #000 !important;
}

nav {
    box-shadow: 0 0 15px #198754;
}

.green-on-hov:hover {
    box-shadow: 0 0 15px #198754;
}

/* --------------- animations ----------------- */

.animate {
    animation-duration: 2.5s;
    animation-name: animate-fade;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}

@keyframes animate-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Glow In */
.animate.glow {
    animation-name: animate-glow;
    animation-timing-function: ease;
}

@keyframes animate-glow {
    0% {
        opacity: 0;
        filter: brightness(1) saturate(1);
        transform: scale(0.8, 0.8);
    }

    100% {
        opacity: 1;
        filter: brightness(1) saturate(1);
        transform: scale(1, 1);
    }
}

.delay-1 {
    animation-delay: 1s;
}

.delay-2 {
    animation-delay: 1.2s;
}

.delay-3 {
    animation-delay: 1.1s;
}

.animated-btn {
    display: block;
    width: fit-content;
    height: 55px;
    font-size: 30px;
    text-decoration: none;
    color: #198754;
    border: 3px solid #333;
    letter-spacing: 2px;
    position: relative;
    transition: all .35s;
    background-color: #212529;
}

.animated-btn span {
    position: relative;
    z-index: 2;
}

.animated-btn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #198754a2;
    transition: all .35s;
    border-radius: 4px;
}

.animated-btn:hover {
    color: #ffffff8c;
    box-shadow: 0 0 15px #198754;

}

.animated-btn:hover:after {
    width: 100%;
}

/* ----------- allauth adjustments -----------  */

.allauth-link {
    color: rgb(39, 39, 39);
}

.allauth-link:hover,
.allauth-link:active,
.allauth-link:focus {
    color: #000;
}

/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* --------- modal image and media queries ---------- */

.modal-img {
    height: auto;
    float: right;
    width: 45%;
    margin-right: 5%;
    padding: 0 0 20px 20px;
}

@media (max-width: 768px) {
    .modal-img {
        width: 100%;
        margin-right: 0;
        padding: 5px;
    }
}

/* ------------------------------------------------------ Media Queries */

@media (max-width: 990px) {
    .homepage-container {
        background-position-x: 50px;
        background: url('/media/soldier-homepage-bg.jpg') no-repeat center 60px fixed;
        bottom: 164px;
        background-size: cover;
        font-family: 'Special Elite', cursive;
        font-size: 1.1rem;
    }
}


/* ---------------- NAVBAR NAME CHANGE CODE --------------- */


/* Hide short text by default (resolution > 1200px) */

.large-logo {
    padding-left: 10px;
}

.small-logo {
    display: none;
}

@media (max-width: 470px) {
    .small-logo {
        display: inline;
        position: absolute;
        top: 0px;
        padding-left: 10px;
    }

    .large-logo {
        display: none;
    }
}

@media (max-width: 300px) {
    .small-logo {
        font-size: 1.05rem;
        top: 5px;
        padding-left: 2px;
    }
}

@media (max-width: 283px) {
    .homepage-main-btn {
        font-size: 1.65rem;
    }
}

/* --------------------- Services Page ---------------------- */

.image-container img {
    border: 5px grey solid;
    border-radius: 3px;
}

.service-card {
    max-width: 350px;
    margin: 0 15px;
    border-width: 3px;
    border-color: white;
}

.service-card p {
    font-size: 0.8vmax;
}

.service-card:hover {
    box-shadow: 0 0 55px #198754;

}


/* ----------------------------------------------------- Media Queries for Service Page */

@media (max-width:1200px) {
    .service-card {
        margin: 0 10px 0 10px;
        max-width: unset;
    }

    .service-card p {
        font-size: 1.2vmax;
    }
}

@media (max-width: 991px) {
    .service-card {
        margin: 0 130px 30px 130px;
    }

    .service-card p {
        font-size: 1.8vmax;
    }
}

@media (max-width:650px) {
    .service-card {
        margin: 0 80px 30px 80px;
    }
}

@media (max-width:550px) {
    .service-card {
        margin: 0 60px 30px 60px;
    }
}

@media (max-width:450px) {
    .service-card {
        margin: 0 30px 30px 30px;
    }
}

@media (max-width:300px) {
    .service-card {
        padding: 0;
    }
}