{% for product in page_obj %}
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal{{product.id}}" tabindex="-1" aria-labelledby="deleteModal{{product.id}}Label" aria-hidden="true">
    <div class="modal-dialog tertiary-font">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="DeleteModal{{product.id}}Label"><strong>Warning</strong></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You are about to delete the following product: {{ product.name }}. Are you sure you wish to delete it?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-danger text-white text-decoration-none" href="{% url 'delete_product' product.id %}">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}