<!-- Modal -->
<div class="modal fade" id="paintServiceModal" tabindex="-1" aria-labelledby="paintServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-sm-down">
        <div class="modal-content text-black secondary-font">
            <div class="modal-header">
                <h5 class="modal-title" id="paintServiceModalLabel">Paint Services</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <br>
                <aside>
                    <div class="container-fluid modal-img">
                        <div id="carouselPaintCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselPaintCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselPaintCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselPaintCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#carouselPaintCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                <button type="button" data-bs-target="#carouselPaintCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                                <button type="button" data-bs-target="#carouselPaintCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                                <button type="button" data-bs-target="#carouselPaintCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
                                <button type="button" data-bs-target="#carouselPaintCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item">
                                    <img src="{{ MEDIA_URL }}iStock-515690463.jpg" class="d-block w-100" alt="Bespoke two-tone Spray-Painted SCAR-H Airsoft Rifle">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ MEDIA_URL }}iStock-690210450.jpg" class="d-block w-100" alt="Spray-Painted AK-47 Airsoft Rifle Puma Pattern">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ MEDIA_URL }}iStock-1057490078.jpg" class="d-block w-100" alt="Spray-Painted Airsoft Rifle M4 Puma Pattern">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ MEDIA_URL }}iStock-1223199109.jpg" class="d-block w-100" alt="Rusted Coyote Brown Spray-Painted M4 Airsoft Rifle">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ MEDIA_URL }}iStock-1263035585.jpg" class="d-block w-100" alt="Bespoke Spray-Painted Ghost Camo M4 Airsoft Rifle">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ MEDIA_URL }}iStock-1280069842.jpg" class="d-block w-100" alt="Desert Storm Alternate Camo Fully-Painted M4 Airsoft Rifle">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ MEDIA_URL }}iStock-1338770764.jpg" class="d-block w-100" alt="Woodland Camo textured Pattern Spray-Painted M4 Airsoft Rifle">
                                </div>
                                <div class="carousel-item active">
                                    <img src="{{ MEDIA_URL }}m4-custom-camo.jpg" class="d-block w-100" alt="Bespoke Tree Camouflage Spray-Painted Airsoft Rifle M4 rifle">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPaintCaptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselPaintCaptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </aside>
                <section>
                    <p>Here at Airsoft Workshop, we are especially good at spray painting RIF weapons. We have been doing this for a while and with our many years
                        of experience of spray painting, we can provide you with a load of different finishes. Many customers want some sort of camouflaged weapon
                        to match their loadout and we are very proud to be able to deliver this <br>Here is just a few of the services that we provide:</p>
                    <ul>
                        <li>Cheroke</li>
                        <li>Bespoke</li>
                        <li>Two-Tone</li>
                        <li>Camo Patterns</li>
                        <li>Stencils</li>
                        <li>Patch-up Paintwork</li>
                        <li>Restoration</li>
                        <li>Dipping Finishies</li>
                        <li>Wrapping Finishes</li>
                    </ul>
                    <p>If any of these services interest you, then please proceed to the next page and fill in a enquiry form with what services you are looking for and we will get back in contact with you.</p>
                    <br>
                </section>
            </div>
            <div class="modal-footer">
                <a href="{% url 'paint_services' %}" class="btn btn-success my-2">Enquire Now</a>
                <button type="button" class="btn btn-secondary my-2" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>


<!-- Button trigger modal
<button type="button" class="btn btn-success my-3" data-bs-toggle="modal" data-bs-target="paint-service-modal">
    More Details
</button> -->