<!-- search navbar display on meduim screens and smaller -->
<nav class="d-md-none navbar-dark bg-dark pb-2 pt-4 mb-3 secondary-font justify-content-center text-center">
    <button class="navbar-toggler b-1 px-1" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-bs-target="#productNavbar" aria-controls="productNavbar" aria-expanded="false" aria-label="Toggle navigation">
        Store Menu <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse" id="productNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="md-device-products-link text-secondary p-1">
                Refine By: <a class="nav-link clear-all-link" href="{% url 'products' %}">clear all x</span></a>
            </li>
            <li class="nav-item">
                <a class="md-device-products-link p-0" href="{% url 'products' %}">All Products</a>
            </li>
            <li class="nav-item active">
                <a class="md-device-products-link p-0" href="{% url 'products' %}?category=Batteries">Batteries</a>
            </li>
            <li class="nav-item">
                <a class="md-device-products-link p-0" href="{% url 'products' %}?category=BBs">BBs</a>
            </li>
            <li class="nav-item">
                <a class="md-device-products-link p-0" href="{% url 'products' %}?category=Gas">Gas</a>
            </li>
            <li class="nav-item">
                <a class="md-device-products-link p-0" href="{% url 'products' %}?category=Patches">Patches</a>
            </li>
            <!-- Brand dropdown to go here -->
            <li class="nav-item dropdown">
                <a class="md-device-products-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter by Brand
                </a>
                <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                    {% for brand in current_brands %}
                    <li><a class="dropdown-item" href="{% url 'products' %}?brand={{ brand.name }}">{{ brand.friendly_name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <!-- end of Brand Filter dropdown -->
        </ul>
        <form class="d-flex p-2 my-1" method="GET" action="{% url 'products' %}">
            <input class="form-control me-1" type="text" placeholder="Store Search" name="q">
            <button class="btn btn-success text-center align-content-center" type="submit">Search</button>
        </form>
    </div>
</nav>


<!-- search navbar display on large screens and larger -->
<nav class="d-none d-md-block">
    <div class="side-navbar d-flex flex-column bg-dark secondary-font">
        <div class="container">
            <div class="row">
                <div class="col-5 g-0 text-start">
                    <li class="list-unstyled text-secondary pt-3">Refine by:</li>
                </div>
                <div class="col-7 g-0 text-end">
                    <li class="list-unstyled text-secondary pt-3"><a class="clear-all-link" href="{% url 'products' %}">clear all x</a></li>
                </div>
            </div>
        </div>
        <div id="productsNavbar" class="">
            <ul class=" navbar-nav list-unstyled">
                <li><a class="navbar-item side-navbar-link" href="{% url 'products' %}">All Products</a></li>
                <li><a class="side-navbar-link" href="{% url 'products' %}?category=Batteries">Batteries</a></li>
                <li><a class="side-navbar-link" href="{% url 'products' %}?category=BBs">BBs</a></li>
                <li><a class="side-navbar-link" href="{% url 'products' %}?category=Gas">Gas</a></li>
                <li><a class="side-navbar-link" href="{% url 'products' %}?category=Patches">Patches</a></li>
                <!-- Brand dropdown to go here -->
                <li class="nav-item dropdown">
                    <a class="side-navbar-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Filter by Brand
                    </a>
                    <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                        {% for brand in current_brands %}
                        <li><a class="dropdown-item" href="{% url 'products' %}?brand={{ brand.name }}">{{ brand.friendly_name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <!-- end of Brand Filter dropdown -->
            </ul>
            <!-- search form -->
            <form class="d-flex p-2 my-1" method="GET" action="{% url 'products' %}">
                <input class="form-control me-1" type="text" placeholder="Store Search" name="q">
                <button class="btn btn-success text-center align-content-center" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>