{% extends "base.html" %}

{% block content %}
<div class="container-fluid homepage-container">
    <div class="pushdown-small"></div>
    <div class="pushdown-small"></div>
    <div class="row">
        <div class="col-md-4 col-sm-3 col-1"></div>
        <div class="col-md-4 col-sm-6">
            <div class="card bg-secondary p-3 secondary-font text-decoration-none">
                {% block inner_content %}
                {% endblock %}
                <hr>
                <div class="">
                    <a href="{% url 'home' %}" class="btn btn-secondary m-1">Return to home</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-3 col-1"></div>

    </div>
</div>

{% endblock %}