.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #8fb0d8;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #a3a7aa;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    font-family: 'GFS Didot';
    color: #000;
}

/*
    font-family: 'GFS Didot', serif;
    font-family: 'Judson', serif;
    font-family: 'Marcellus', serif;
    font-family: 'Special Elite', cursive;
 */

.success-header-fontsize {
    font-size: x-large;
}

.success-p-fontsize {
    font-size: large;
}