{% extends "base.html" %}
{% load static %}
{% block content %}


{% include 'includes/products_navbar.html' %}


<!-- Products container -->
<section>
    <!-- Product Title -->
    <div class="products-container tertiary-font">
        <div class="row g-0">
            <h2 class="display-3 text-center mt-5 mb-3 logo-font">Products</h2>
            <div class="container-fluid justify-content-center w-75">
                <hr>
            </div>
        </div>
        <!-- Product Sorting -->
        <div class="row g-0">
            <div class="product-container">
                <div class="row g-0">
                    <!-- product-sort-bar -->
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="mx-5 w-sm-50 w-md-75 pr-3">
                            <select id="sort-selector" class="rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %} h5">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <!-- Category Filter Results -->
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mx-5 text-center text-sm-center text-md-start h5">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                            <span><a class="product-filterdown-link" href="{% url 'products' %}">Products Home</a> {% for c in current_categories %} > <a class=" product-filterdown-link" href="{{ request.path }}?category={{ c.name }}">{{ c.friendly_name }}</a> {% endfor %} | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                    <!-- End of Category Filter Results -->
                </div>
            </div>
        </div>
        <!-- Product Cards -->
        <div class="row g-0 justify-content-center">
            {% for product in products %}
            <div class="col-md-6 col-lg-4 col-xxl-3">
                <div class="card product-card m-sm-5 m-md-5 m-lg-3 m-xl-5">
                    <div class="img-container">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}"></a>
                        {% endif %}
                    </div>
                    <div class="card-text card-text-container p-2 text-secondary">
                        <p class="mb-5 h-100%">{{ product.name }}</p>
                    </div>
                    <div class="card-footer text-secondary bg-white pt-0 text-left">
                        <div class="row">
                            <div class="col">
                                <p class="mb-0 text-left text-black font-weight-bold"><strong>£{{ product.price }}</strong></p>
                                {% if product.category %}
                                <p class="small mt-1 mb-0">
                                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                        <i class="fas fa-tag mr-1"></i>{{product.category.friendly_name}}
                                    </a>
                                </p>
                                {% endif %}
                                {% if product.rating %}
                                <small class="text-muted">
                                    <i class="fas fa-star mr-1"></i>
                                    {{ product.rating }}
                                    / 5</small>
                                {% else %}
                                <small class="text-muted">No Rating</small>
                                {% endif %}
                                <br>
                                {% if request.user.is_superuser %}
                                <small class="ml-3">
                                    <a href="#">Edit</a> |
                                    <a class="text-danger" href="#">Delete</a>
                                </small>
                                {% endif %}
                                <br>
                                <small class="text-end"> add to wishlist <a class=" text-success text-decoration-none" href=""><i class="fas fa-plus"></i></a></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row g-0">
                <div class="btn btt-button">
                    <a href="" class="display-6">
                        <i class="fas fa-arrow-up text-success mx-auto my-auto green-on-hov"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="footer-pushdown"></div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0, 0)
    })
</script>


{% endblock %}