{% extends "base.html" %}
{% load static %}
{% block content %}


{% include 'includes/products_navbar.html' %}


<!-- Products container -->
<section>
    <!-- Product Title -->
    <div class="products-container tertiary-font">
        <div class="row g-0">
            <h2 class="display-3 text-center mt-5 mb-3 logo-font">Products</h2>
            <div class="container-fluid justify-content-center w-75">
                <hr>
            </div>
        </div>
        <!-- Product Sorting -->
        <div class="row g-0">
            <div class="product-container">
                <div class="row g-0">
                    <!-- product-sort-bar -->
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="mx-5 w-sm-50 w-md-75 pr-3">
                            <select id="sort-selector" class="rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %} h5">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                                <option value="brand_asc" {% if current_sorting == 'brand_asc' %}selected{% endif %}>Brand (A-Z)</option>
                                <option value="brand_desc" {% if current_sorting == 'brand_desc' %}selected{% endif %}>Brand (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <!-- Category Filter Results -->
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mx-5 text-center text-sm-center text-md-start h5">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                            <span><a class="product-filterdown-link" href="{% url 'products' %}">Products Home</a> {% for c in current_categories %} > <a class=" product-filterdown-link" href="{{ request.path }}?category={{ c.name }}">{{ c.friendly_name }}</a> {% endfor %} | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>

                    <!-- End of Category Filter Results -->
                </div>
            </div>
        </div>
        <!-- Product Cards -->
        <div class="row g-0 justify-content-center">
            {% for product in page_obj %}
            <div class="col-md-6 col-lg-4 col-xxl-3">
                <div class="card product-card m-sm-5 m-md-5 m-lg-3 m-xl-5">
                    <div class="img-container">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}"></a>
                        {% endif %}
                    </div>
                    <div class="card-text card-text-container p-2 text-secondary">
                        <p class="mb-5 h-100%">{{ product.name }}</p>
                    </div>
                    <div class="card-footer text-secondary bg-white pt-0 text-left">
                        <div class="row">
                            <div class="col">
                                <p class="mb-0 text-left text-black font-weight-bold"><strong>£{{ product.price }}</strong></p>
                                {% if product.category %}
                                <p class="small mt-1 mb-0">
                                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                        <i class="fas fa-tag mr-1"></i>{{product.category.friendly_name}}
                                    </a>
                                </p>
                                {% endif %}
                                {% if product.rating %}
                                <small class="text-muted">
                                    <i class="fas fa-star mr-1"></i>
                                    {{ product.rating }}
                                    / 5</small>
                                {% else %}
                                <small class="text-muted">No Rating</small>
                                {% endif %}
                                {% if request.user.is_superuser %}
                                <br>
                                <small class="ml-3">
                                    <a href="{% url 'edit_product' product.id %}">Edit</a> |
                                    <a class="text-danger" href="#">Delete</a>
                                </small>
                                {% endif %}
                                <br>
                                <small class="text-end"> add to wishlist <a class=" text-success text-decoration-none" href=""><i class="fas fa-plus"></i></a></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row g-0">
                <div class="btn btt-button">
                    <a href="" class="display-6">
                        <i class="fas fa-arrow-up text-success mx-auto my-auto green-on-hov"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row g-0 justify-content-center logo-font">
            <!--Pagination code-->
            <div class="pagination fs-pag col-12 justify-content-center mt-2">
                <span class="page-item border-1 rounded-1 text-decoration-none ">
                    {% if page_obj.has_previous %}
                    <a class="page-link-success text-decoration-none" href="?page=1{% if search_term %}&q={{ search_term }}{% endif %}{% if selected_category %}&category={{ selected_category}}{% endif %}{% if selected_brand %}&brand={{ selected_brand }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                    <a class="page-link-success text-decoration-none" href="?page={{ page_obj.previous_page_number }}{% if search_term %}&q={{ search_term }}{% endif %}{% if selected_category %}&category={{ selected_category}}{% endif %}{% if selected_brand %}&brand={{ selected_brand }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}">back</a>
                    {% endif %}

                    {% if page_obj.number|add:'-2' > 1 %}
                    <a class="page-link-success text-decoration-none" href="?page={{ page_obj.number|add:'-3' }}{% if search_term %}&q={{ search_term }}{% endif %}{% if selected_category %}&category={{ selected_category}}{% endif %}{% if selected_brand %}&brand={{ selected_brand }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}">&hellip;</a>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                    <span><a class="text-secondary text-decoration-none">&nbsp{{ i }}</span>
                    {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                    <span><a class="page-link-success text-decoration-none" href="?page={{ i }}{% if search_term %}&q={{ search_term }}{% endif %}{% if selected_category %}&category={{ selected_category}}{% endif %}{% if selected_brand %}&brand={{ selected_brand }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}">&nbsp{{ i }}</a></span>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
                    <a class="page-link-success text-decoration-none" href="?page={{ page_obj.number|add:'3' }}{% if search_term %}&q={{ search_term }}{% endif %}{% if selected_category %}&category={{ selected_category}}{% endif %}{% if selected_brand %}&brand={{ selected_brand }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}">&nbsp&hellip;</a>
                    {% endif %}

                    {% if page_obj.has_next %}
                    <!-- <a class="page-link-success text-decoration-none" href="?page={{ page_obj.next_page_number }}">&nbsp next</a> -->
                    <a class="page-link-success text-decoration-none" href="?page={{ page_obj.next_page_number }}{% if search_term %}&q={{ search_term }}{% endif %}{% if selected_category %}&category={{ selected_category}}{% endif %}{% if selected_brand %}&brand={{ selected_brand }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}">&nbsp next</a>
                    <a class="page-link-success text-decoration-none" href="?page={{ page_obj.paginator.num_pages }}{% if search_term %}&q={{ search_term }}{% endif %}{% if selected_category %}&category={{ selected_category}}{% endif %}{% if selected_brand %}&brand={{ selected_brand }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}">&nbsp<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</section>


<div class="footer-pushdown"></div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function() {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>


{% endblock %}