{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- products navbar -->
{% include 'includes/products_navbar.html' %}

<!-- Products container -->

<!-- Product Cards -->
<div class="pushdown-small d-none d-lg-block"></div>
<div class="container mt-4 g-0 secondary-font">
    <div class="row g-0 justify-content-center p-1 m-1">

        <div class="col-md-6 col-lg-4 offset-md-4 offset-lg-2 order-last order-sm-last order-md-last order-lg-first">
            <div class="card-text p-2 text-secondary">
                <h1 class="mb-5 display-6">{{ product.name }}</h1>
                <hr>
                <p>{{ product.description }}</p>
            </div>
            <div class="card-footer text-secondary p-2 text-left">
                <p class="mb-0 text-left text-white font-weight-bold"><strong>£{{ product.price }}</strong></p>
                {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{product.category.friendly_name}}
                    </a>
                </p>
                {% endif %}
                {% if product.rating %}
                <small class="text-muted">
                    <i class="fas fa-star mr-1"></i>
                    {{ product.rating }}
                    / 5</small>
                {% else %}
                <small class="text-muted">No Rating</small>
                {% endif %}
                <br>
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="#">Edit</a> |
                    <a class="text-danger" href="#">Delete</a>
                </small>
                {% endif %}
                <br>
                <a class=" text-secondary text-decoration-none" href=""><small class="text-end"> add to wishlist <i class="fas fa-plus text-success"></i></small></a>
            </div>
        </div>
        <div class="col-md-8 col-lg-4 offset-md-4 offset-lg-0 order-first order-sm-first order-md-first order-lg-last">
            <div class="card product-card m-sm-5">
                <div class="img-container">
                    {% if product.image %}
                    <a href="{{ product.img.url }}" target="_blank">
                        <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                    {% else %}
                    <a href="{}">
                        <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}"></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer-pushdown"></div>

{% endblock %}

{% block postloadjs %}

{% endblock %}