{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container-fluid">
    <div class="row g-0">
        <div class="col-12 justify-content-center">
            <h2 class="display-3 text-center mt-5 mb-1 logo-font">Tech Services</h2>
        </div>
        <div class="container-fluid justify-content-center w-75">
            <hr>
        </div>
    </div>
</div>
{% endblock %}



{% block content %}

<div class="container tertiary-font">
    <div class="col-12 px-5 py-1">
        <div class="row">
            <div class="col-12">
                <hr>
                <h2 class="text-success">Submit your Enquiry:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="POST" action="{% url 'tech_services' %}" id="tech-service-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.full_name | as_crispy_field }}
                    {{ form.email | as_crispy_field }}
                    {{ form.phone_number | as_crispy_field }}
                    <fieldset>
                        <legend>{{ form.weapon_platform.label }}</legend>
                        <div class="col-12 text-center justify-content-center radio-bar m-1">
                            {% for plat in weapon_plat %}
                            <label for="id_weapon_platform_{{plat.id}}" class="text-center nav-link contact-icons inline-flex green-on-hov m-3" aria-label="{{ plat.name }} radio label">
                                {{ plat.friendly_name }}
                                <input id="id_weapon_platform_{{plat.id}}" name="weapon_platform" type="radio" value="{{plat.id}}" required>
                                <br>
                                {% if plat.image %}
                                <img class="card-img-top" src="{{ MEDIA_URL }}{{ plat.image }}" alt="{{ plat.name }}" style="height:100px; width:100px;">
                                {% else %}
                                <img class="card-img-top" src="{{ MEDIA_URL }}/noimage.png" alt="{{ plat.name }}" style="height:100px; width:100px;">
                                {% endif %}
                            </label>
                            {% endfor %}
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ form.weapon_system.label }}</legend>
                        <div class="col-12 text-center justify-content-center radio-bar m-1">
                            {% for weapon in weapon_sys %}
                            <label for="id_weapon_system_{{weapon.id}}" class="text-center nav-link contact-icons inline-flex green-on-hov m-3" aria-label="{{ weapon.name }} radio label">
                                {{ weapon.friendly_name }}
                                <input id="id_weapon_system_{{weapon.id}}" name="weapon_system" type="radio" value="{{weapon.id}}" required>
                                <br>
                                {% if weapon.image %}
                                <img class="card-img-top" src="{{ MEDIA_URL }}{{ weapon.image }}" alt="{{ weapon.name }}" style="height:100px; width:100px;">
                                {% else %}
                                <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ weapon.name }}" style="height:100px; width:100px;">
                                {% endif %}
                            </label>
                            {% endfor %}
                        </div>
                    </fieldset>
                    {{ form.additional_info | as_crispy_field }}
                    {{ form.image | as_crispy_field }}
                    <button type="submit" class="btn btn-success m-2" value="tech service">Submit</button>
                    <span><a href="{% url 'services' %}" class="btn btn-secondary m-2">Back to Services</a></span>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="pushdown-small"></div>

{% endblock %}